.page-header{

margin-bottom:30px;

}

.dashboard-grid{

display:grid;

grid-template-columns:390px 1fr;

gap:24px;

align-items:start;

}

.table-section{

margin-top:24px;

}

@media(max-width:1100px){

.dashboard-grid{

grid-template-columns:1fr;

}

}